.footer {
  background-color: #2C3E50;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;

}

.footer-section {
  flex: 1;
  padding: 1rem;
  min-width: 200px;
}

.footer-section h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-section p {
  font-size: 0.9rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.9rem;
}
