.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade la sombra */
    background-color: white;
    align-items: center; /* Asegura que el contenido esté centrado verticalmente */
}

.contentLogo {
    width: 50px;
}

.logoImage {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.contentContact {
    position: relative;
    width: 70px;
}

.contactImage {
    width: 100%; /* Ajusta para que se mantenga dentro de .contentContact */
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 75px; /* Ajusta para que el popup aparezca debajo del header */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup a {
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.popup a:hover {
    background-color: #f1f1f1;
}
